
@{
    ViewBag.Title = "PagosRecivo";
}

<div id="modal_aside_right" class="modal fixed-right fade fuente " tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-aside " role="document">
        <div class="modal-content">
            <div class="modal-body mt-4 ">
                <div class="row">
                    <div class="col-sm-3 mb-3">
                        <label>Mes </label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="col-sm-3 mb-3">
                        <label>Lectura Anterior </label>
                        <input type="text" class="form-control">

                    </div>
                    <div class="col-sm-6 mb-3">
                        <label>Lectura Actual </label>
                        <input type="text" class="form-control">
                    </div>

                </div>

            </div>
            <div class="modal-footer p-1">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-success btn-sm" id="enviar" type="submit"><i class="fas fa-save"></i> Registrar</button>
            </div>
        </div>
    </div> <!-- modal-bialog .// -->
</div>



<div class="card border-0 ml-4 mt-4 margin-l mb-3 ">
    <div class="card-body fuente">
        <h5>Historial de consumo</h5>
        <hr style="border-style: dashed;" />
        <div class="row">
            <div class="row  col-6">


            </div>



        </div>

        <!--<form class="form-inline" action="/action_page.php">-->

        <form class="form-inline" action="/action_page.php">
            <label for="number" class="mr-sm-2">CODIGO</label>
            <input type="number" class="form-control col-sm-3 mb-2" placeholder="006007" id="email">
            <label for="pwd" class="mr-sm-2">NOMBRE</label>
            <input type="text" class="form-control col-sm-7 mb-2" placeholder="MAMANI QUISPE NANDO" id="pwd">
            <label for="pwd" class="mr-sm-2">DIRECCION</label>
            <input type="text" class="form-control col-sm-11 mb-2" placeholder="URB. MARAVILLA MZ. A2 LT. 3" id="pwd">
            <label for="number" class="mr-sm-2">SERVICIO</label>
            <input type="number" class="form-control col-sm-3 mb-3" placeholder="AGUA Y DESAGUE" id="email">
            <label for="number" class="mr-sm-2">TARIFA</label>
            <input type="number" class="form-control col-sm-3 mb-3" placeholder="DOMESTICO" id="email">
            <label for="number" class="mr-sm-2">MEDIDOR</label>
            <input type="number" class="form-control col-sm-3 mb-3" placeholder="EA-45871426" id="email">



        </form>


        <table class="table table-sm table-striped table-responsive-sm">
            <thead>
                <tr class="bg-info text-light ">
                    <th scope="col">#</th>
                    <th scope="col">Codigo </th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Medidor</th>
                    <th scope="col">Año</th>
                    <th scope="col">Mes</th>
                    <th scope="col"> Lectura Anterior</th>
                    <th scope="col">Lectura Actual </th>
                    <th scope="col">Consumo</th>
                    <th scope="col">Promedio</th>
                    <th scope="col"> Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>0063821</td>
                    <td>MAMANI QUISPE NANDO</td>
                    <td>URB. MIRAFLORES MZ. B2 LT. 3B</td>
                    <td>EA18-462011</td>
                    <td>2021</td>
                    <td> 01</td>
                    <td>555.00</td>
                    <td>559.00</td>
                    <td>40</td>
                    <td>25.2</td>

                    <td style="width:80px" @*class="d-flex justify-content-around"*@>
                        <div class="btn-group" role="group">
                            <a href="#" class="btn btn-primary text-white">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="#" class="btn btn-success text-white">
                                <i class="fas fa-list-alt"></i>
                            </a>
                            <a href="#" class="btn btn-danger text-white">
                                <i class="fas fa-trash-alt"></i>
                            </a>

                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>0063821</td>
                    <td>MAMANI QUISPE NANDO</td>
                    <td>URB. MIRAFLORES MZ. B2 LT. 3B</td>
                    <td>EA18-462011</td>
                    <td>2021</td>
                    <td> 02</td>
                    <td>555.00</td>
                    <td>559.00</td>
                    <td>40</td>
                    <td>25.2</td>


                    <td style="width:80px" @*class="d-flex justify-content-around"*@>
                        <div class="btn-group" role="group">
                            <a href="#" class="btn btn-primary text-white">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="#" class="btn btn-success text-white">
                                <i class="fas fa-list-alt"></i>
                            </a>
                            <a href="#" class="btn btn-danger text-white">
                                <i class="fas fa-trash-alt"></i>
                            </a>

                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>0063821</td>
                    <td>MAMANI QUISPE NANDO</td>
                    <td>URB. MIRAFLORES MZ. B2 LT. 3B</td>
                    <td>EA18-462011</td>
                    <td>2021</td>
                    <td> 03</td>
                    <td>555.00</td>
                    <td>559.00</td>
                    <td>40</td>
                    <td>25.2</td>

                    <td style="width:80px" @*class="d-flex justify-content-around"*@>
                        <div class="btn-group" role="group">
                            <a href="#" class="btn btn-primary text-white">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="#" class="btn btn-success text-white">
                                <i class="fas fa-list-alt"></i>
                            </a>
                            <a href="#" class="btn btn-danger text-white">
                                <i class="fas fa-trash-alt"></i>
                            </a>

                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>0063821</td>
                    <td>MAMANI QUISPE NANDO</td>
                    <td>URB. MIRAFLORES MZ. B2 LT. 3B</td>
                    <td>EA18-462011</td>
                    <td>2021</td>
                    <td> 04</td>
                    <td>555.00</td>
                    <td>559.00</td>
                    <td>40</td>
                    <td>25.2</td>

                    <td style="width:80px" @*class="d-flex justify-content-around"*@>
                        <div class="btn-group" role="group">
                            <a href="#" class="btn btn-primary text-white">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="#" class="btn btn-success text-white">
                                <i class="fas fa-list-alt"></i>
                            </a>
                            <a href="#" class="btn btn-danger text-white">
                                <i class="fas fa-trash-alt"></i>
                            </a>

                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">1</th>
                    <td>0063821</td>
                    <td>MAMANI QUISPE NANDO</td>
                    <td>URB. MIRAFLORES MZ. B2 LT. 3B</td>
                    <td>EA18-462011</td>
                    <td>2021</td>
                    <td> 05</td>
                    <td>555.00</td>
                    <td>559.00</td>
                    <td>40</td>
                    <td>25.2</td>
                    <td style="width:80px" @*class="d-flex justify-content-around"*@>
                        <div class="btn-group" role="group">
                            <a href="#" class="btn btn-primary text-white">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="#" class="btn btn-success text-white">
                                <i class="fas fa-list-alt"></i>
                            </a>
                            <a href="#" class="btn btn-danger text-white">
                                <i class="fas fa-trash-alt"></i>
                            </a>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>