.fuente {
    font-family: "Time Roman", sans-serif !important;
    font-size: 14px;
}

.modal .modal-dialog-aside {
    max-width: 82%;
    height: 92%;
    top: 8%;
    margin: 0;
    transform: translate(0);
    transition: transform .2s;
    /*margin-left:25px;*/
}


    .modal .modal-dialog-aside .modal-content {
        height: inherit;
        border: 0;
        border-radius: 0;
    }

        .modal .modal-dialog-aside .modal-content .modal-body {
            overflow-y: auto
        }

.modal.fixed-left .modal-dialog-aside {
    margin-left: auto;
    transform: translateX(100%);
}

.modal.fixed-right .modal-dialog-aside {
    margin-right: auto;
    transform: translateX(-100%);
}

.modal.show .modal-dialog-aside {
    transform: translateX(0);
}

@media (max-width: 575px) {
    .margin-l {
        margin-left: -0px !important;
    }
}
